
@import url("https://api.fontshare.com/v2/css?f[]=general-sans@1&display=swap");
@import "tailwindcss";

body {
  font-family: "General Sans", sans-serif;
}


@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(16px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}



